{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez TRT Conseil{% endblock %}
{#{% form_theme form 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<h1 class="mt-5 mb-3">Bienvenue chez TRT Conseil</h1>
<main>
  <section class="mt-4 ">
    <div class="row">
      <div class="col-lg-8 d-flex justify-content-center align-items-center">
        <p class="text-justify">
          <strong>Trouvez votre prochain emploi dans l'hôtellerie et la restauration</strong><br><br>
          <strong>TRT Conseil</strong>, votre partenaire pour une carrière réussie dans le secteur de l'hôtellerie et de la restauration. Que vous soyez recruteur à la recherche du candidat idéal, candidat à la recherche de votre prochaine opportunité professionnelle, consultant spécialisé ou administrateur assurant le bon fonctionnement de notre plateforme, nous sommes là pour vous accompagner.
          <br><br>
          Avec notre interface simple et sécurisée, découvrez des fonctionnalités conçues pour répondre à vos besoins :
          <br><br>
          Créez votre compte en toute simplicité et rejoignez notre communauté d'experts.<br>
          Connectez-vous rapidement pour accéder à votre espace personnalisé.<br>
          Publiez vos annonces d'emploi et trouvez les profils qui correspondent à vos besoins.<br>
          Postulez à des offres d'emploi attractives et lancez-vous dans une nouvelle aventure professionnelle.<br>
          Rejoignez-nous dès aujourd'hui et laissez TRT Conseil vous aider à réaliser vos objectifs de carrière !<br>
        </p>
      </div>
      <img class="col-lg-4 float-end img" src="/images/people_working_2.jpg" width="100px">
    </div>
  </section>
  <div class="js-filter">
    <div class="row">
      <h2 class="mt-5 mb-5">Offres d'emploi en cours</h2>
      <div class="col-md-3 mb-2">
        {% include "home/_filter.html.twig" %}
      </div>
      <div class="col-md-9 col-sm"> {#col-12#}
        <div class="grid js-filter-content">
        {% include "home/_annonces.html.twig" %}
        </div>
        <div class="mt-2 mb-2 js-filter-pagination">
          {% include "home/_pagination.html.twig" %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
