{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	
		<h1 class="mt-5 mb-5">Bienvenue chez TRT Conseil !</h1>
		<p>TRT Conseil est une agence de recrutement spécialisée dans l'hôtellerie et la restauration. Fondée en 2014, notre société s'est développée pour devenir un acteur majeur du secteur, avec plus de 12 centres répartis dans toute la France.</p>
    <p>Notre mission est de connecter les recruteurs à des candidats talentueux et motivés, tout en offrant un service de qualité et une expérience utilisateur exceptionnelle.</p>
    <p>Nous nous engageons à fournir un environnement où les employeurs et les chercheurs d'emploi peuvent trouver les meilleures opportunités et réaliser leurs objectifs professionnels.</p>
    <p>Toute l'équipe du TRT Conseil</p>
	
{% endblock %}