{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	
		<h1 class="mt-5 mb-5">Conditions Générales d’Utilisation</h1>
		<p>Bienvenue sur TRT Conseil. En utilisant ce site, vous acceptez de vous conformer aux conditions générales d'utilisation énoncées ci-dessous. Ces conditions peuvent être modifiées périodiquement, et votre utilisation continue du site constitue votre accord avec ces modifications.</p>
		<p><strong>Compte Utilisateur :</strong> L'accès à certaines fonctionnalités du site nécessite la création d'un compte utilisateur. Vous êtes responsable du maintien de la confidentialité de vos informations d'identification et de toutes les activités qui se produisent sous votre compte.</p>
		<p><strong>Contenu du Site :</strong> Le contenu du site, y compris les textes, images, vidéos, et autres éléments, est la propriété du TRT Conseil et est protégé par les lois sur le droit d'auteur. Toute utilisation non autorisée du contenu est strictement interdite.</p>
		<p><strong>Utilisation Responsable :</strong> En utilisant ce site, vous vous engagez à ne pas violer les lois en vigueur, à ne pas perturber le fonctionnement du site, et à ne pas compromettre la sécurité du site ou de ses utilisateurs.</p>
		<p><strong>Protection des Données :</strong> Nous prenons la protection de vos données personnelles au sérieux. Les informations que vous nous fournissez seront traitées conformément à notre politique de confidentialité.</p>
		<p><strong>Responsabilité :</strong> TRT conseil ne peut être tenu responsable des dommages directs, indirects, spéciaux, consécutifs ou autres résultant de l'utilisation de ce site.</p>
		<p>En utilisant ce site, vous acceptez ces conditions générales d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>
	
{% endblock %}