{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	
		<h1 class="mt-5 mb-5">Mentions Légales</h1>
		<p>Le site web TRT Conseil est édité par [Nom de l'entreprise], dont le siège social est situé à [Adresse]. Il est enregistré sous le numéro [Numéro d'enregistrement] et son numéro de TVA est [Numéro de TVA].</p>
		<p>Directeur de la publication : [Nom]</p>
		<p>Le site est hébergé par [Nom de l'hébergeur] dont le siège social est situé à [Adresse de l'hébergeur].</p>
		<p>Pour toute question ou réclamation, veuillez nous contacter à l'adresse électronique suivante : [Adresse e-mail].</p>
		<p>TRT Conseil est une entreprise enregistrée et opérant en conformité avec les lois en vigueur. Nous nous réservons le droit de modifier le contenu de ce site et ces mentions légales à tout moment. Il est de votre responsabilité de consulter régulièrement ces mentions pour être informé des mises à jour.</p>

{% endblock %}